.word_container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 15px;
}
.word_item {
    border:1px solid black;
    border-radius: 15px;
}
.item__header {
    margin: auto;
    width: 300px;
    text-align: center;
    font-size: 1.1em;
}
.item__img {
    width:325px;
    height: 200px;
    border-radius: 15px;
}
.item__audio {
    display: block;
    padding: 5px;
    border: none;
    outline: none;
    background: black;
    color:white;
    margin: auto;
    cursor: pointer;
    margin-top: auto;
}
.item__text {
    width:300px;
    margin: auto;
    text-align: center
}
.item__audio:hover {
    background: red;
}
.group__button {
    cursor: pointer;
    width:40px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 25px;
}
.group__container {
    display: flex;
    width:30%;
    justify-content: space-between;
    margin-bottom: 30px;
}